@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');

:root {
  --primary: blue;
  --error: #e7195a;
}


body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Gabarito";
}

header {
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
}

header img {
  height: clamp(50px, 10vw, 100px); 
  width: clamp(50px, 10vw, 100px);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

header img:hover {
  transform: translateY(-50%) scale(1.1);
  color: darkblue;
}

header button {
  background: none;
  border: none;
  color: var(--primary);
  padding: 0;
  font-size: 30px;
  font-family: "Gabarito";
  cursor: pointer;
  position: absolute;
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%);
  font-size: clamp(1rem, 2vw, 2rem);
}

header button:hover {
  color: darkblue;
  transform: translateY(-50%) scale(1.1);
}


header h1 {
  margin: 0 auto;
  color: var(--primary);
  font-size: clamp(2rem, 6vw, 4rem);
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  text-align: center;
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 2em;
  color: var(--primary);
  text-align: center;
}
.workout-details p {
  margin: 0;
  font-size: 1.3em;
  color: #555;
  text-align: center;
}
.workout-details button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
  background: red;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
}


/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button-container {
  text-align: center; 
}


form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Gabarito";
  border-radius: 4px;
  cursor: pointer;
  display: inline-block; 
  margin-top: 10px; 
}

.error {
  color: red;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2); 
}