@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');

:root {
  --primary: blue;
  --error: #e7195a;
  --edit: orange;
}

.login-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container h4 {
    color: black;
    font-size: clamp(1rem, 3vw, 2rem);
    margin-top: auto;

}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--primary);
    border-radius: 5px;
    text-align: center;

}

.user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.new-user {
    color: var(--primary);
    font-size: clamp(.5rem, 1vw, 1rem);
    background: none;
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-underline-offset: 10px;
    border: none;
    color: var(--primary);
    padding: 0;
}

.new-user:hover {
  color: darkblue;
  transform: translateY(-5%) scale(1.1);
}

.login-button {
    background: var(--primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(.5rem, 1vw, 1rem);
}
.login-button:hover {
  background: darkblue;
  transform: translateY(-5%) scale(1.1);
}

.login-error {
    position: absolute;
    color: var(--error);
    font-size: clamp(.5rem, 1vw, 1rem);
    margin-top: 30px;
    text-align: center;
    width: 100%;
    top: 100%;
    left: 0;
}

.login-sucess {
    color: green;
    font-size: clamp(.5rem, 1vw, 1rem);
    margin-top: 20px;
    text-align: center;
}